* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

header {
  height: 70px;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 266px;
  padding-right: 266px;
}

header a {
  color: #fff;
}

header li {
  display: inline-block;
}

header li a {
  line-height: 70px;
  padding: 0 20px;
  font-size: 14px;
}

header li:hover a,
header a:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

header .navbar-logo {
  font-size: 25px;
}

.slider {
  position: relative;
}

.modal-regiter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  display: none;
}

.modal-input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.modal-input:focus {
  border: none;
}

.modal-container {
  border-radius: 10px;
  background-color: #fff;
  width: 1000px;
  max-width: calc(100%-32px);
  min-height: 200px;
  position: relative;
}

.modal-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: -10px;
}

.modal-label {
  display: block;
  font-size: 15px;
}

.message-regiter {
  margin-left: 35px;
}

.model-textarea {
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
}

.btn-send {
  border: none;
  background-color: #277cfb;
  color: #fff;
  padding: 14px 150px;
  border-radius: 5px;
  font-size: 20px;
}

.button-send {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.video-youtube {
  margin: 110px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-youtube-link {
  width: 1000px;
  height: 563px;
}

.mobile-app-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-app-des-right {
  margin-left: 80px;
  margin-top: 100px;
}

.mobile-app-des-left {
  margin-right: 80px;
  margin-top: 100px;
}

.img-iphone {
  width: 356px;
  height: 430px;
}

.text-mobile-app {
  width: 400px;
  font-size: 18px;
  color: #666666;
}

.cross {
  display: block;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  color: #277cfb;
}

.checkbox-add:checked .mobile-app-customer-hidden {
  display: block;
}

.mobile-app-customer-hidden {
  background-color: #f2f8ff;
  margin-top: 40px;
  display: none;
}

.mobile-app-customer-hidden-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.feature {
  margin-left: 80px;
}

.feature-text {
  color: #1890ff;
  font-size: 15px;
}

.feature-description {
  color: #666666;
}

.top-sz {
  margin-top: 100px;
}

.service-item {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  height: 280px;
  margin-left: 20px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.service-item .service-item-description {
  width: 180px;
}

.service-list,
.company,
.feed-back,
.contact {
  margin-top: 80px;
}

.img-service-icon {
  width: 69px;
  height: 69px;
}

.img-feedback {
  width: 50px !important;
  height: 50px;
}

.card-feedback {
  padding: 13px;
  width: 180px;
  height: 250px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.feedback-description {
  text-align: justify;
  font-size: 14px;
}

.name-title {
  font-size: 12px;
}

.contact-description {
  color: #121236;
  opacity: 0.6;
}

.input-contact {
  width: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.button-contact {
  padding: 10px;
  border: 1px solid #277cfb;
  background-color: #277cfb;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  margin-left: -5px;
}

.contact-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 50px;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.button-contact-2 {
  border-radius: 10px;
  color: #676767;
  border: 1px solid #ccc;
  padding: 10px;
}

footer {
  background-color: #383d40;
  height: 50px;
}

footer p {
  line-height: 50px;
  color: #fff;
}

.contact-main {
  background-color: #f5f5f9;
  padding: 0 200px;
  padding-top: 30px;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-main p {
  color: #676767;
}

.text-slider {
  position: absolute;
  bottom: 47px;
  left: 200px;
  top: 200px;
}

.text-heading {
  color: #277cfb;
  font-size: 45px;
}

.text-descrip {
  width: 400px;
  font-size: 18px;
  margin-top: 20px;
  color: #666666;
}

.button-reseach {
  border: 1px solid #277cfb;
  background-color: #277cfb;
  padding: 5px 15px;
  border-radius: 35px;
  color: #fff;
  font-size: 15px;
}

.mobile-app-tittle {
  font-weight: 400;
}

.modal-text {
  font-weight: 400;
  margin-left: 243px;
}

.top-company {
  width: 580px;
  font-size: 18px;
}

.mt-4x {
  margin-top: 150px;
}

.contact-mt {
  position: relative;
  margin-top: -50px;
  display: block;
}

.contact-mt-mb {
  display: none;
}

.card-contact {
  margin-top: 30px;
  margin-left: 40px;
}

.contact {
  margin-top: 80px;
}

.feed-back {
  margin-bottom: 80px;
}

.bk-2 {
  background-color: #fff !important;
}

.img-responsive {
  border-radius: 20px;
  width: 193px !important;
  height: 218px;
}

.opan {
  opacity: 0.6;
}

.nav-btn-mobile {
  line-height: 70px;
  margin-left: 20px;
  display: none;
  position: fixed;
  top: 0;
  left: 25px;
}

.pxd {
  display: none;
}

.nav-bars {
  color: #fff;
}

.over-lay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  -webkit-animation: fadeIn linear 0.2s;
          animation: fadeIn linear 0.2s;
}

.nav-mobile-link {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  max-width: 100%;
  background-color: #fff;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform linear 0.2s;
  transition: -webkit-transform linear 0.2s;
  transition: transform linear 0.2s;
  transition: transform linear 0.2s, -webkit-transform linear 0.2s;
  z-index: 10;
}

.nav-mobile-item {
  display: block;
}

.nav-mobile-item a {
  color: #000;
}

.menu-nav {
  background-color: blue;
  padding: 5px;
  position: relative;
}

.menu-nav a {
  color: #fff;
  font-size: 20px;
}

.btn-close {
  position: absolute;
  top: 5px;
  right: 10px;
}

.sz-btn {
  font-size: 25px;
}

.input-model:checked ~ .over-lay {
  display: block;
}

.input-model:checked ~ .nav-mobile-link {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-hidden {
  display: none;
}

.mobile-content {
  display: none;
}

.mobile-app-customer-hidden-mb {
  display: none;
}

.mb-0705 {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
  text-align: center;
  display: none;
}

.contact-main-mb {
  display: none;
}

@media (max-width: 46.1875em) {
  .nav-btn-mobile {
    display: block;
  }
  .nav-pc-logo,
  .nav-pc-link {
    display: none;
  }
  header {
    background-color: #fff;
  }
  .nav-bars {
    color: #000;
  }
  .slider-show {
    display: none;
  }
  .video-youtube-pc {
    display: none;
  }
  .video-youtube-mobile {
    display: block;
  }
  .video-youtube-link {
    width: 460px;
    height: 230px;
  }
  .video-youtube {
    margin-bottom: 110px;
  }
  .pxd {
    display: block;
  }
  .mobile-hidden {
    display: block;
    position: fixed;
    background-color: blue;
    color: #fff;
    bottom: 10px;
    left: 25px;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
    z-index: 5;
  }
  .mobile-app-customer {
    display: none;
  }
  .mobile-content {
    display: block;
  }
  .img-iphone-mb {
    width: 238px;
    height: 287px;
  }
  .feature-text-mb,
  .feature-description-mb {
    text-align: center;
  }
  .mobile-app-customer-hidden-mb {
    margin-bottom: 50px;
    margin-top: 20px;
  }
  .service-item-text-1 {
    font-size: 12px;
    width: 100px;
  }
  .service-item-text-2 {
    font-size: 10px;
    width: 100px;
  }
  .ptxm {
    display: none;
  }
  .h3-v112 {
    font-size: 20px;
    text-align: center;
  }
  .service-item {
    height: 220px;
    width: 140px !important;
  }
  .service-btt {
    padding: 0 2px;
  }
  .logo-mobile-app {
    margin-top: 20px;
    margin-left: -150px;
  }
  .video-youtube {
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mb-sz {
    font-size: 20px;
    font-weight: 500;
    width: 70%;
    margin-left: 50px;
  }
  .text-mobile-app {
    width: 350px;
    font-size: 15px;
    color: #666666;
    width: 300px;
  }
  .mb-sz-1 {
    font-size: 20px;
    font-weight: 500;
  }
  .mb-sz-2 {
    font-size: 15px;
  }
  .button-reseach {
    font-size: 10px;
  }
  .mobile-app-tittle {
    font-size: 20px;
    font-weight: 400;
  }
  .top-company {
    width: 300px;
    font-size: 15px;
  }
  .img-responsive {
    border-radius: 20px;
    width: 157px !important;
    height: 168px;
  }
  .card-feedback {
    width: 150px;
  }
  .contact-mt {
    display: none;
  }
  .mb-0705 {
    display: block;
  }
  .text-p {
    display: none;
  }
  .input-contact,
  .button-contact {
    font-size: 12px;
  }
  .input-contact {
    width: 70%;
  }
  .contact-description {
    font-size: 15px;
  }
  .card-contact {
    margin-left: 10px;
  }
  .contact-main-mb {
    background-color: #383d40;
  }
  .button-contact-2 {
    border: none;
    color: #fff;
  }
  .address-contact {
    text-align: center;
  }
  .phone-contact,
  .email-contact {
    font-size: 12px;
    color: #929292;
  }
  .address-contact-mb {
    color: #929292;
    text-align: center;
    font-size: 12px;
  }
  .contact-main {
    display: none;
  }
  .contact-main-mb {
    display: block;
    margin-bottom: -20px;
  }
  .img-app {
    width: 40%;
  }
}

@media (min-width: 46.25em) and (max-width: 63.9375em) {
  .nav-btn-mobile {
    display: block;
  }
  .nav-pc-logo,
  .nav-pc-link {
    display: none;
  }
  header {
    background-color: #fff;
  }
  .nav-bars {
    color: #000;
  }
  .pxd {
    display: block;
  }
  .logo-mobile-app {
    margin-top: 20px;
    margin-left: -30px;
  }
  .slider-show {
    display: none;
  }
  .video-youtube {
    margin: 20px 0;
  }
  .video-youtube-link {
    width: 60%;
    height: 230px;
    margin-left: -150px;
    margin-right: 50px;
  }
  .mobile-content {
    display: block;
  }
  .mb-sz {
    font-size: 20px;
    font-weight: 500;
    width: 70%;
  }
  .img-iphone-mb {
    width: 238px;
    height: 287px;
  }
  .text-mobile-app {
    width: 350px;
    font-size: 15px;
    color: #666666;
    width: 300px;
  }
  .mobile-app-customer {
    display: none;
  }
  .contact-mt {
    display: none;
  }
  .mb-0705 {
    display: block;
  }
  .contact-main {
    display: none;
  }
  .contact-main-mb {
    display: block;
    margin-bottom: -20px;
    background-color: #383d40;
  }
  .tv44 {
    margin-left: -150px;
  }
  .img-app {
    width: 30%;
  }
  .mb-sz-1 {
    font-size: 20px;
    font-weight: 500;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.service-btt {
  padding: 0 180px;
}

.abs-65 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-btt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.button-contact-2-mb {
  text-align: center;
  color: #929292;
}

.address-contact {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */