* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

header {
  height: 70px;
  background-color: #333;
  display: flex;
  padding-left: 266px;
  padding-right: 266px;
  a {
    color: #fff;
  }
  li {
    display: inline-block;
  }
  li a {
    line-height: 70px;
    padding: 0 20px;
    font-size: 14px;
  }
  li:hover a,
  a:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  .navbar-logo {
    font-size: 25px;
  }
}
.slider {
  // padding-top: 50%;
  // background: url("/p1.png") top center / cover no-repeat;
  position: relative;
}
.modal-regiter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  display: none;
}
.modal-input {
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.modal-input:focus {
  border: none;
}
.modal-container {
  border-radius: 10px;
  background-color: #fff;
  width: 1000px;
  max-width: calc(100%-32px);
  min-height: 200px;
  position: relative;
}
.modal-close-btn {
  display: flex;
  justify-content: flex-end;
  margin-left: -10px;
}
.modal-label {
  display: block;
  font-size: 15px;
}
.message-regiter {
  margin-left: 35px;
}
.model-textarea {
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
}
.btn-send {
  border: none;
  background-color: #277cfb;
  color: #fff;
  padding: 14px 150px;
  border-radius: 5px;
  font-size: 20px;
}
.button-send {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.video-youtube {
  margin: 110px 0;
}
.mobile-app-customer {
  display: flex;
}
.mobile-app-des-right {
  margin-left: 80px;
  margin-top: 100px;
}
.mobile-app-des-left {
  margin-right: 80px;
  margin-top: 100px;
}
.img-iphone {
  width: 356px;
  height: 430px;
}
.text-mobile-app {
  width: 400px;
  font-size: 18px;
  color: #666666;
}
.cross {
  display: block;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  color: #277cfb;
}
.checkbox-add:checked .mobile-app-customer-hidden {
  display: block;
}
.mobile-app-customer-hidden {
  background-color: #f2f8ff;
  margin-top: 40px;
  display: none;
}
.mobile-app-customer-hidden-item {
  display: flex;
  margin-top: 40px;
}
.feature {
  margin-left: 80px;
}
.feature-item {
}
.feature-text {
  color: #1890ff;
  font-size: 15px;
}
.feature-description {
  color: #666666;
}
.top-sz {
  margin-top: 100px;
}
.img-responsive {
  width: 193px;
  height: 218px;
  border-radius: 20px;
  margin: 0 10px;
}
.service-item {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  height: 280px;
  margin-left: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  .service-item-description {
    width: 180px;
  }
}
.service-list,
.company,
.feed-back,
.contact {
  margin-top: 80px;
}
.img-service-icon {
  width: 69px;
  height: 69px;
}
.img-feedback {
  width: 50px;
  height: 50px;
}
.card-feedback {
  padding: 13px;
  width: 167px;
  height: 216px;
  border: 1px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.feedback-description {
  text-align: justify;
  font-size: 14px;
}
.name-title {
  font-size: 12px;
}
.contact-description {
  color: #121236;
  opacity: 0.6;
}
.input-contact {
  width: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}
.button-contact {
  padding: 10px;
  border: 1px solid #277cfb;
  background-color: #277cfb;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #fff;
  margin-left: -5px;
}
.contact-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px 50px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.button-contact-2 {
  border-radius: 10px;
  color: #676767;
  border: 1px solid #ccc;
  padding: 10px;
}
footer {
  background-color: #383d40;
  height: 50px;
  p {
    line-height: 50px;
    color: #fff;
  }
}
.contact-main {
  background-color: #f5f5f9;
  padding:0 200px;
  padding-top: 30px;
  margin-top: -50px;
  height: 150px;
  align-items: center;
  p {
    color: #676767;
  }
}
.text-slider {
  position: absolute;
  bottom: 47px;
  left: 200px;
  top: 200px;
}
.text-heading {
  color: #277cfb;
  font-size: 45px;
}
.text-descrip {
  width: 400px;
  font-size: 18px;
  margin-top: 20px;
  color: #666666;
}
.button-reseach {
  border: 1px solid #277cfb;
  background-color: #277cfb;
  padding: 5px 15px;
  border-radius: 35px;
  color: #fff;
  font-size: 15px;
}
.mobile-app-tittle {
  font-weight: 400;
}
.modal-text {
  font-weight: 400;
  margin-left: 243px;
}
.top-company {
  width: 580px;
  font-size: 18px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.mt-4x {
  margin-top: 150px;
}
.contact-mt {
  position: relative;
  margin-top: -50px;
}
.card-contact {
  margin-top: 30px;
  margin-left: 40px;
}
.contact {
  margin-top: 80px;
}
.feed-back {
  margin-bottom: 80px;
}
